<h1 id="etcpd---extendable-tcpip-daemon">etcpd - Extendable TCP/IP
Daemon</h1>
<p>etcpd is a TCP/IP daemon which is written in C++.</p>
<h2 id="os-support">OS Support</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" checked="" />
NetBSD</li>
<li><input type="checkbox" disabled="" checked="" />
Other BSDs (Should work. I haven’t checked yet.)</li>
<li><input type="checkbox" disabled="" checked="" />
OSX (Also should work. I haven’t checked yet.)</li>
<li><input type="checkbox" disabled="" checked="" />
Linux (Checked working on Void 6.x)</li>
<li><input type="checkbox" disabled="" />
Windows (I maybe will support in the future… But I don’t have any
Windows machine. )</li>
</ul>
<h2 id="features">Features</h2>
<ul>
<li>Module loading</li>
<li>Fast</li>
<li>Under 1MB</li>
</ul>
<h2 id="default-modules">Default modules</h2>
<ul>
<li>HTTP/1.1 Module
<ul>
<li>File fetching</li>
<li>Indexing</li>
</ul></li>
</ul>
<h2 id="building-etcpd">Building etcpd</h2>
<h3 id="needed-librariestools">Needed Libraries/Tools</h3>
<ul>
<li>OpenSSL (required only if <code>--enable-ssl</code> is attached to
the <code>./configure</code>)</li>
<li>GNU make (<code>gmake</code> in pkgsrc)</li>
</ul>
<p>You can attach <code>--enable-pthread</code> to
<code>./configure</code> to make it use pthread for multithreading.</p>
<pre class="shell-session"><code>$ ./configure --prefix=/usr
$ gmake all
# gmake install</code></pre>
