<h1 id="etcpd---拡張可能tcpipデーモン">etcpd -
拡張可能TCP/IPデーモン</h1>
<p>etcpdはC++で書かれたTCP/IPのデーモンです。</p>
<h2 id="サポートされているos">サポートされているOS</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" checked="" />
NetBSD</li>
<li><input type="checkbox" disabled="" checked="" />
他のBSD (テストはしていませんが、動くはずです。)</li>
<li><input type="checkbox" disabled="" checked="" />
OSX (これもテストはしていませんが、動くはずです。)</li>
<li><input type="checkbox" disabled="" checked="" />
Linux (Void GNU/Linuxのカーネル6.xで動作確認済みです。)</li>
<li><input type="checkbox" disabled="" />
Windows
(将来的にはサポートするかもしれませんが、Windows機を持っていないのでテストのしようがありません…)</li>
</ul>
<h2 id="機能">機能</h2>
<ul>
<li>「モジュール」機能</li>
<li>速い</li>
<li>モジュールも含めて1MB以下(strip後)。</li>
</ul>
<h2 id="デフォルトのモジュール">デフォルトのモジュール</h2>
<ul>
<li>HTTP/1.1モジュール
<ul>
<li>ファイルの取得</li>
<li>インデックス</li>
</ul></li>
</ul>
<h2 id="etcpdをビルドする">etcpdをビルドする</h2>
<h3 id="必要なライブラリやツール">必要なライブラリやツール</h3>
<ul>
<li>OpenSSL
(<code>--enable-ssl</code>が<code>./configure</code>に渡された時のみ必要です。)</li>
<li>GNU make (pkgsrcには<code>gmake</code>というのがGNU makeです。)</li>
</ul>
<p><code>--enable-pthread</code>を<code>./configure</code>に渡せばpthreadをマルチスレッド用に使います。(デフォルトではforkを使用します。)</p>
<pre class="shell-session"><code>$ ./configure --prefix=/usr
$ gmake all
# gmake install</code></pre>
